<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Repeat Word Count</title>
    </head>
    <body>
        <div class="container">
            <h1 class="text-warning">Check how many times a word shows up in a string!</h1>

            {# This if statement will display one of two error messages if the user did not input correctly #}
            {% if message is not empty%}
                <h3 class="text-danger">{{ message }}</h3>
            {% endif %}

            <form action="/results">
                <div class="form-group">
                    <label for="input_word" class="text-muted">Enter a word to search for:</label>
                    <input id="input_word" name="input_word" class="form-control" type="text">
                    <label for="input_string" class="text-muted">Enter a string to search:</label>
                    <input id="input_string" name="input_string" class="form-control" type="text">
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
        </div>
    </body>
</html>
